#s3{
    color: blue;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 105%;
}

h1{
    font-size: 150%;
}

#header2{
    text-transform: uppercase;
}

.lang{
   background-color: rgb(111, 166, 255);
   width: 250px;
}

.tool{
    border-style: solid;
    border-width: 2px;
    width: 250px;
}

img + ul{
    list-style-type: square;
}

section > img {
    height:150px;
    width: 150px;
    border-radius: 15%;
}

ul ~ p{
    text-align: center;
}

section > ul{
    letter-spacing: 5px;
}